In this project, we'll be working with data from the S&P500 Index. The S&P500 is a stock market index. Before we get into what an index is, we'll need to get into the basics of the stock market.

Some companies are publicly traded, which means that anyone can buy and sell their shares on the open market. A share entitles the owner to some control over the direction of the company, and to some percentage (or share) of the earnings of the company. When you buy or sell shares, it's common to say that you're trading a stock.

The price of a share is based mainly on supply and demand for a given stock. For example, Apple stock has a price of 120 dollars per share as of December 2015 -- http://www.nasdaq.com/symbol/aapl. A stock that is in less demand, like Ford Motor Company, has a lower price -- http://finance.yahoo.com/q?s=F. Stock price is also influenced by other factors, including the number of shares a company has issued.

Stocks are traded daily, and the price can rise or fall from the beginning of a trading day to the end based on demand. Stocks that are in more in demand, such as Apple, are traded more often than stocks of smaller companies.

In this mission, we'll be working with a csv file containing index prices. Each row in the file contains a daily record of the price of the S&P500 Index from 1950 to 2015. The dataset is stored in sphist.csv.

The columns of the dataset are:

Date -- The date of the record.
Open -- The opening price of the day (when trading starts).
High -- The highest trade price during the day.
Low -- The lowest trade price during the day.
Close -- The closing price for the day (when trading is finished).
Volume -- The number of shares traded.
Adj Close -- The daily closing price, adjusted retroactively to include any corporate actions. Read more here.
We'll be using this dataset to develop a predictive model. You'll train the model with data from 1950-2012, and try to make predictions from 2013-2015.

In [53]:
import pandas as pd

In [54]:
df=pd.read_csv('sphist.csv')

In [55]:
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [56]:
df['Date'] = pd.to_datetime(df.Date)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16590 entries, 0 to 16589
Data columns (total 7 columns):
Date         16590 non-null datetime64[ns]
Open         16590 non-null float64
High         16590 non-null float64
Low          16590 non-null float64
Close        16590 non-null float64
Volume       16590 non-null float64
Adj Close    16590 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 907.3 KB

In [58]:
df=df.sort_values('Date')
df.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

Datasets taken from the stock market need to be handled differently than datasets from other sectors when it comes time to make predictions. In a normal machine learning exercise, we treat each row as independent. Stock market data is sequential, and each observation comes a day after the previous observation. Thus, the observations are not all independent, and you can't treat them as such.

This means you have to be extra careful to not inject "future" knowledge into past rows when you do training and prediction. Injecting future knowledge will make our model look good when you're training and testing it, but will make it fail in the real world. This is how many algorithmic traders lose money.

The time series nature of the data means that can generate indicators to make our model more accurate. For instance, you can create a new column that contains the average price of the last 10 trades for each row. This will incorporate information from multiple prior rows into one, and will make predictions much more accurate.

Here are some indicators that are interesting to generate for each row:

The average price from the past 5 days.
The average price for the past 30 days.
The average price for the past 365 days.
The ratio between the average price for the past 5 days, and the average price for the past 365 days.
The standard deviation of the price over the past 5 days.
The standard deviation of the price over the past 365 days.
The ratio between the standard deviation for the past 5 days, and the standard deviation for the past 365 days.

"Days" means "trading days" -- so if we're computing the average of the past 5 days, it should be the 5 most recent dates before the current one. Assume that "price" means the Close column. Always be careful not to include the current price in these indicators! We're predicting the next day price, so our indicators are designed to predict the current price from the previous prices.

In [59]:
# Lets Pick 3 indicators to compute, and generate a different column for each one.

df['Past 5 days mean_Close']= df.Close.rolling(window=6).mean()

df['Past 30 days mean_Close']= df.Close.rolling(window=31).mean()

df['Past 365 days mean_Close']= df.Close.rolling(window=366).mean()

In [61]:
df.head(366)

,Date,Open,High,Low,Close,Volume,Adj Close,Past 5 days mean_Close,Past 30 days mean_Close,Past 365 days mean_Close
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.921667,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.993334,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,16.978334,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.935000,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.891667,NaN,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,16.855000,NaN,NaN
16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1570000.0,16.850000,16.825000,NaN,NaN
16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1170000.0,16.870001,16.788334,NaN,NaN
16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1440000.0,16.900000,16.811667,NaN,NaN
16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1340000.0,16.920000,16.853334,NaN,NaN
16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1250000.0,16.860001,16.876667,NaN,NaN
16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1700000.0,16.740000,16.856667,NaN,NaN
16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1150000.0,16.730000,16.836667,NaN,NaN
16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1250000.0,16.820000,16.828333,NaN,NaN
16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1640000.0,17.020000,16.848333,NaN,NaN
16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1690000.0,17.049999,16.870000,NaN,NaN
16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1810000.0,17.049999,16.901666,NaN,NaN
16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2040000.0,17.230000,16.983333,NaN,NaN
16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2210000.0,17.290001,17.076667,NaN,NaN
16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1490000.0,17.320000,17.160000,NaN,NaN
16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1360000.0,17.230000,17.195000,NaN,NaN
16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1470000.0,17.209999,17.221667,NaN,NaN
16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1810000.0,17.280001,17.260000,NaN,NaN
16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1790000.0,17.240000,17.261667,NaN,NaN
16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2210000.0,17.059999,17.223333,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
16253,1951-05-08,22.610001,22.610001,22.610001,22.610001,1600000.0,22.610001,22.661667,21.971935,NaN
16252,1951-05-09,22.639999,22.639999,22.639999,22.639999,1960000.0,22.639999,22.680000,22.008387,NaN
16251,1951-05-10,22.510000,22.510000,22.510000,22.510000,1660000.0,22.510000,22.661666,22.048710,NaN
16250,1951-05-11,22.330000,22.330000,22.330000,22.330000,1640000.0,22.330000,22.581667,22.080968,NaN
16249,1951-05-14,22.180000,22.180000,22.180000,22.180000,1250000.0,22.180000,22.483333,22.103548,NaN
16248,1951-05-15,21.760000,21.760000,21.760000,21.760000,2020000.0,21.760000,22.338333,22.117742,NaN
16247,1951-05-16,21.690001,21.690001,21.690001,21.690001,1660000.0,21.690001,22.185000,22.131613,NaN
16246,1951-05-17,21.910000,21.910000,21.910000,21.910000,1370000.0,21.910000,22.063334,22.148064,NaN
16245,1951-05-18,21.510000,21.510000,21.510000,21.510000,1660000.0,21.510000,21.896667,22.142258,NaN
16244,1951-05-21,21.459999,21.459999,21.459999,21.459999,1580000.0,21.459999,21.751667,22.133871,NaN
16243,1951-05-22,21.360001,21.360001,21.360001,21.360001,1440000.0,21.360001,21.615000,22.123548,NaN
16242,1951-05-23,21.160000,21.160000,21.160000,21.160000,1540000.0,21.160000,21.515000,22.107742,NaN
16241,1951-05-24,21.049999,21.049999,21.049999,21.049999,2580000.0,21.049999,21.408333,22.088710,NaN
16240,1951-05-25,21.030001,21.030001,21.030001,21.030001,1210000.0,21.030001,21.261667,22.062903,NaN
16239,1951-05-28,21.209999,21.209999,21.209999,21.209999,1240000.0,21.209999,21.211667,22.034516,NaN
16238,1951-05-29,21.350000,21.350000,21.350000,21.350000,1190000.0,21.350000,21.193333,22.012258,NaN
16237,1951-05-31,21.520000,21.520000,21.520000,21.520000,1220000.0,21.520000,21.220000,21.993871,NaN
16236,1951-06-01,21.480000,21.480000,21.480000,21.480000,9810000.0,21.480000,21.273333,21.972903,NaN
16235,1951-06-04,21.240000,21.240000,21.240000,21.240000,1100000.0,21.240000,21.305000,21.947097,NaN
16234,1951-06-05,21.330000,21.330000,21.330000,21.330000,1180000.0,21.330000,21.355000,21.924193,NaN
16233,1951-06-06,21.480000,21.480000,21.480000,21.480000,1200000.0,21.480000,21.400000,21.905806,NaN
16232,1951-06-07,21.559999,21.559999,21.559999,21.559999,1340000.0,21.559999,21.435000,21.892903,NaN
16231,1951-06-08,21.490000,21.490000,21.490000,21.490000,1000000.0,21.490000,21.430000,21.877419,NaN
16230,1951-06-11,21.610001,21.610001,21.610001,21.610001,1220000.0,21.610001,21.451667,21.859677,NaN
16229,1951-06-12,21.520000,21.520000,21.520000,21.520000,1200000.0,21.520000,21.498333,21.831613,NaN
16228,1951-06-13,21.549999,21.549999,21.549999,21.549999,1060000.0,21.549999,21.535000,21.803226,NaN
16227,1951-06-14,21.840000,21.840000,21.840000,21.840000,1300000.0,21.840000,21.595000,21.780968,NaN
16226,1951-06-15,22.040001,22.040001,22.040001,22.040001,1370000.0,22.040001,21.675000,21.762258,NaN
16225,1951-06-18,22.049999,22.049999,22.049999,22.049999,1050000.0,22.049999,21.768333,21.737742,NaN
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.836667,21.713548,19.454754

Since you're computing indicators that use historical data, there are some rows where there isn't enough historical data to generate them. Some of the indicators use 365 days of historical data, and the dataset starts on 1950-01-03. Thus, any rows that fall before 1951-01-03 don't have enough historical data to compute all the indicators. You'll need to remove these rows before you split the data.

In [71]:
# Removing the data which older tha 1951-01-03

df=df[df["Date"] > '1951-01-02']

df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Past 5 days mean_Close,Past 30 days mean_Close,Past 365 days mean_Close
16339,1951-01-03,20.690001,20.690001,20.690001,20.690001,3370000.0,20.690001,20.415000,19.843226,NaN
16338,1951-01-04,20.870001,20.870001,20.870001,20.870001,3390000.0,20.870001,20.573333,19.875806,NaN
16337,1951-01-05,20.870001,20.870001,20.870001,20.870001,3390000.0,20.870001,20.668334,19.906129,NaN
16336,1951-01-08,21.000000,21.000000,21.000000,21.000000,2780000.0,21.000000,20.771667,19.942258,NaN
16335,1951-01-09,21.120001,21.120001,21.120001,21.120001,3800000.0,21.120001,20.886667,19.973226,NaN

In [78]:
#let drop the rows with missing values

df.dropna(axis=0,inplace=True)

Now we split the data into train and test set

We will generate two new dataframes in making our algorithm. train will contain any rows in the data with a date less than 2013-01-01. test will contain any rows with a date greater than or equal to 2013-01-01

In [82]:
train=df[df["Date"] < '2013-01-01']

test=df[df["Date"] > '2013-01-01']

train.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'Past 5 days mean_Close', 'Past 30 days mean_Close',
       'Past 365 days mean_Close'],
      dtype='object')

Now its turn to pick and Error Metric 

We will use Mean Absolute Error, also called MAE, as an error metric, because it will show us how "close" we were to the price in intuitive terms. Mean Squared Error, or MSE, is an alternative that is more commonly used, but makes it harder to intuitively tell how far off you are from the true price because it squares the error.

In [87]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

model=LinearRegression()

X_train= train[['Past 5 days mean_Close', 'Past 30 days mean_Close',
       'Past 365 days mean_Close']]
y_train=train['Close']

X_test= test[['Past 5 days mean_Close', 'Past 30 days mean_Close',
       'Past 365 days mean_Close']]
y_test=test['Close']

model.fit(X_train,y_train)

predictions=model.predict(X_test)

print("Mean absolute error is {}".format(mean_absolute_error(y_test,predictions)))

Mean absolute error is 13.250364530077187

Congratulations! We can now predict the S&P500 (with some error). We can improve the error of this model significantly, though. Think about some indicators that might be helpful to compute.

Here are some ideas that might be helpful:

The average volume over the past five days.
The average volume over the past year.
The ratio between the average volume for the past five days, and the average volume for the past year.
The standard deviation of the average volume over the past five days.
The standard deviation of the average volume over the past year.
The ratio between the standard deviation of the average volume for the past five days, and the standard deviation of the average volume for the past year.
The year component of the date.
The ratio between the lowest price in the past year and the current price.
The ratio between the highest price in the past year and the current price.
The year component of the date.
The month component of the date.
The day of week.
The day component of the date.
The number of holidays in the prior month.


Lets add the first 3 options and see how much are we able to reduce the MAE.

In [98]:
data=pd.read_csv('sphist.csv')

data['Date'] = pd.to_datetime(data.Date)

In [99]:
data=data.sort_values('Date')
data.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

In [100]:
data['Past 5 days mean_Close']= data.Close.rolling(window=6).mean()

data['Past 30 days mean_Close']= data.Close.rolling(window=31).mean()

data['Past 365 days mean_Close']= data.Close.rolling(window=366).mean()

data['Past 5 days mean_Volume']= data.Volume.rolling(window=6).mean()

data['Past 365 days mean_Volume']= data.Volume.rolling(window=366).mean()

data['Ratio of mean Volume for 5 and 365 days']= data['Past 5 days mean_Volume']/data['Past 365 days mean_Volume']

data.head(366)

,Date,Open,High,Low,Close,Volume,Adj Close,Past 5 days mean_Close,Past 30 days mean_Close,Past 365 days mean_Close,Past 5 days mean_Volume,Past 365 days mean_Volume,Ratio of mean Volume for 5 and 365 days
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.921667,NaN,NaN,2.065000e+06,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.993334,NaN,NaN,2.293333e+06,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,16.978334,NaN,NaN,2.473333e+06,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.935000,NaN,NaN,2.603333e+06,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.891667,NaN,NaN,2.511667e+06,NaN,NaN
16579,1950-01-17,16.860001,16.860001,16.860001,16.860001,1790000.0,16.860001,16.855000,NaN,NaN,2.390000e+06,NaN,NaN
16578,1950-01-18,16.850000,16.850000,16.850000,16.850000,1570000.0,16.850000,16.825000,NaN,NaN,2.291667e+06,NaN,NaN
16577,1950-01-19,16.870001,16.870001,16.870001,16.870001,1170000.0,16.870001,16.788334,NaN,NaN,2.048333e+06,NaN,NaN
16576,1950-01-20,16.900000,16.900000,16.900000,16.900000,1440000.0,16.900000,16.811667,NaN,NaN,1.793333e+06,NaN,NaN
16575,1950-01-23,16.920000,16.920000,16.920000,16.920000,1340000.0,16.920000,16.853334,NaN,NaN,1.461667e+06,NaN,NaN
16574,1950-01-24,16.860001,16.860001,16.860001,16.860001,1250000.0,16.860001,16.876667,NaN,NaN,1.426667e+06,NaN,NaN
16573,1950-01-25,16.740000,16.740000,16.740000,16.740000,1700000.0,16.740000,16.856667,NaN,NaN,1.411667e+06,NaN,NaN
16572,1950-01-26,16.730000,16.730000,16.730000,16.730000,1150000.0,16.730000,16.836667,NaN,NaN,1.341667e+06,NaN,NaN
16571,1950-01-27,16.820000,16.820000,16.820000,16.820000,1250000.0,16.820000,16.828333,NaN,NaN,1.355000e+06,NaN,NaN
16570,1950-01-30,17.020000,17.020000,17.020000,17.020000,1640000.0,17.020000,16.848333,NaN,NaN,1.388333e+06,NaN,NaN
16569,1950-01-31,17.049999,17.049999,17.049999,17.049999,1690000.0,17.049999,16.870000,NaN,NaN,1.446667e+06,NaN,NaN
16568,1950-02-01,17.049999,17.049999,17.049999,17.049999,1810000.0,17.049999,16.901666,NaN,NaN,1.540000e+06,NaN,NaN
16567,1950-02-02,17.230000,17.230000,17.230000,17.230000,2040000.0,17.230000,16.983333,NaN,NaN,1.596667e+06,NaN,NaN
16566,1950-02-03,17.290001,17.290001,17.290001,17.290001,2210000.0,17.290001,17.076667,NaN,NaN,1.773333e+06,NaN,NaN
16565,1950-02-06,17.320000,17.320000,17.320000,17.320000,1490000.0,17.320000,17.160000,NaN,NaN,1.813333e+06,NaN,NaN
16564,1950-02-07,17.230000,17.230000,17.230000,17.230000,1360000.0,17.230000,17.195000,NaN,NaN,1.766667e+06,NaN,NaN
16563,1950-02-08,17.209999,17.209999,17.209999,17.209999,1470000.0,17.209999,17.221667,NaN,NaN,1.730000e+06,NaN,NaN
16562,1950-02-09,17.280001,17.280001,17.280001,17.280001,1810000.0,17.280001,17.260000,NaN,NaN,1.730000e+06,NaN,NaN
16561,1950-02-10,17.240000,17.240000,17.240000,17.240000,1790000.0,17.240000,17.261667,NaN,NaN,1.688333e+06,NaN,NaN
16560,1950-02-14,17.059999,17.059999,17.059999,17.059999,2210000.0,17.059999,17.223333,NaN,NaN,1.688333e+06,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16253,1951-05-08,22.610001,22.610001,22.610001,22.610001,1600000.0,22.610001,22.661667,21.971935,NaN,1.825000e+06,NaN,NaN
16252,1951-05-09,22.639999,22.639999,22.639999,22.639999,1960000.0,22.639999,22.680000,22.008387,NaN,1.858333e+06,NaN,NaN
16251,1951-05-10,22.510000,22.510000,22.510000,22.510000,1660000.0,22.510000,22.661666,22.048710,NaN,1.818333e+06,NaN,NaN
16250,1951-05-11,22.330000,22.330000,22.330000,22.330000,1640000.0,22.330000,22.581667,22.080968,NaN,1.748333e+06,NaN,NaN
16249,1951-05-14,22.180000,22.180000,22.180000,22.180000,1250000.0,22.180000,22.483333,22.103548,NaN,1.615000e+06,NaN,NaN
16248,1951-05-15,21.760000,21.760000,21.760000,21.760000,2020000.0,21.760000,22.338333,22.117742,NaN,1.688333e+06,NaN,NaN
16247,1951-05-16,21.690001,21.690001,21.690001,21.690001,1660000.0,21.690001,22.185000,22.131613,NaN,1.698333e+06,NaN,NaN
16246,1951-05-17,21.910000,21.910000,21.910000,21.910000,1370000.0,21.910000,22.063334,22.148064,NaN,1.600000e+06,NaN,NaN
16245,1951-05-18,21.510000,21.510000,21.510000,21.510000,1660000.0,21.510000,21.896667,22.142258,NaN,1.600000e+06,NaN,NaN
16244,1951-05-21,21.459999,21.459999,21.459999,21.459999,1580000.0,21.459999,21.751667,22.133871,NaN,1.590000e+06,NaN,NaN
16243,1951-05-22,21.360001,21.360001,21.360001,21.360001,1440000.0,21.360001,21.615000,22.123548,NaN,1.621667e+06,NaN,NaN
16242,1951-05-23,21.160000,21.160000,21.160000,21.160000,1540000.0,21.160000,21.515000,22.107742,NaN,1.541667e+06,NaN,NaN
16241,1951-05-24,21.049999,21.049999,21.049999,21.049999,2580000.0,21.049999,21.408333,22.088710,NaN,1.695000e+06,NaN,NaN
16240,1951-05-25,21.030001,21.030001,21.030001,21.030001,1210000.0,21.030001,21.261667,22.062903,NaN,1.668333e+06,NaN,NaN
16239,1951-05-28,21.209999,21.209999,21.209999,21.209999,1240000.0,21.209999,21.211667,22.034516,NaN,1.598333e+06,NaN,NaN
16238,1951-05-29,21.350000,21.350000,21.350000,21.350000,1190000.0,21.350000,21.193333,22.012258,NaN,1.533333e+06,NaN,NaN
16237,1951-05-31,21.520000,21.520000,21.520000,21.520000,1220000.0,21.520000,21.220000,21.993871,NaN,1.496667e+06,NaN,NaN
16236,1951-06-01,21.480000,21.480000,21.480000,21.480000,9810000.0,21.480000,21.273333,21.972903,NaN,2.875000e+06,NaN,NaN
16235,1951-06-04,21.240000,21.240000,21.240000,21.240000,1100000.0,21.240000,21.305000,21.947097,NaN,2.628333e+06,NaN,NaN
16234,1951-06-05,21.330000,21.330000,21.330000,21.330000,1180000.0,21.330000,21.355000,21.924193,NaN,2.623333e+06,NaN,NaN
16233,1951-06-06,21.480000,21.480000,21.480000,21.480000,1200000.0,21.480000,21.400000,21.905806,NaN,2.616667e+06,NaN,NaN
16232,1951-06-07,21.559999,21.559999,21.559999,21.559999,1340000.0,21.559999,21.435000,21.892903,NaN,2.641667e+06,NaN,NaN
16231,1951-06-08,21.490000,21.490000,21.490000,21.490000,1000000.0,21.490000,21.430000,21.877419,NaN,2.605000e+06,NaN,NaN
16230,1951-06-11,21.610001,21.610001,21.610001,21.610001,1220000.0,21.610001,21.451667,21.859677,NaN,1.173333e+06,NaN,NaN
16229,1951-06-12,21.520000,21.520000,21.520000,21.520000,1200000.0,21.520000,21.498333,21.831613,NaN,1.190000e+06,NaN,NaN
16228,1951-06-13,21.549999,21.549999,21.549999,21.549999,1060000.0,21.549999,21.535000,21.803226,NaN,1.170000e+06,NaN,NaN
16227,1951-06-14,21.840000,21.840000,21.840000,21.840000,1300000.0,21.840000,21.595000,21.780968,NaN,1.186667e+06,NaN,NaN
16226,1951-06-15,22.040001,22.040001,22.040001,22.040001,1370000.0,22.040001,21.675000,21.762258,NaN,1.191667e+06,NaN,NaN
16225,1951-06-18,22.049999,22.049999,22.049999,22.049999,1050000.0,22.049999,21.768333,21.737742,NaN,1.200000e+06,NaN,NaN
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.836667,21.713548,19.454754,1.180000e+06,1.987049e+06,0.593845

In [101]:
data=data[data["Date"] > '1951-01-02']

data.dropna(axis=0,inplace=True)

data.head()

,Date,Open,High,Low,Close,Volume,Adj Close,Past 5 days mean_Close,Past 30 days mean_Close,Past 365 days mean_Close,Past 5 days mean_Volume,Past 365 days mean_Volume,Ratio of mean Volume for 5 and 365 days
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.836667,21.713548,19.454754,1.180000e+06,1.987049e+06,0.593845
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1120000.0,21.910000,21.901667,21.690323,19.469098,1.166667e+06,1.986667e+06,0.587248
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1100000.0,21.780001,21.940000,21.663548,19.482568,1.173333e+06,1.984508e+06,0.591246
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1340000.0,21.549999,21.891667,21.628387,19.495191,1.180000e+06,1.981202e+06,0.595598
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2440000.0,21.290001,21.766667,21.589032,19.506967,1.358333e+06,1.982377e+06,0.685204

In [102]:
train=data[data["Date"] < '2013-01-01']

test=data[data["Date"] > '2013-01-01']

train.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'Past 5 days mean_Close', 'Past 30 days mean_Close',
       'Past 365 days mean_Close', 'Past 5 days mean_Volume',
       'Past 365 days mean_Volume', 'Ratio of mean Volume for 5 and 365 days'],
      dtype='object')

In [103]:
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression

model=LinearRegression()

X_train= train[['Past 5 days mean_Close', 'Past 30 days mean_Close',
       'Past 365 days mean_Close', 'Past 5 days mean_Volume',
       'Past 365 days mean_Volume','Ratio of mean Volume for 5 and 365 days']]
y_train=train['Close']

X_test= test[['Past 5 days mean_Close', 'Past 30 days mean_Close',
       'Past 365 days mean_Close', 'Past 5 days mean_Volume',
       'Past 365 days mean_Volume','Ratio of mean Volume for 5 and 365 days']]
y_test=test['Close']


model.fit(X_train,y_train)

predictions=model.predict(X_test)

print("Mean absolute error is {}".format(mean_absolute_error(y_test,predictions)))

Mean absolute error is 13.242808870188274

We can see that by just adding few more paramters we reduced the error rate by 0.01, like this we can try out multiple combinations and
look out for the best ones to predict out test set.

Also, Accuracy would improve greatly by making predictions only one day ahead. For example, train a model using data from 1951-01-03 to 2013-01-02, make predictions for 2013-01-03, and then train another model using data from 1951-01-03 to 2013-01-03, make predictions for 2013-01-04, and so on. This more closely simulates what you'd do if you were trading using the algorithm.

We can also improve the algorithm used significantly by trying other techniques, like a random forest, and see if they perform better.